[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
Django = {version = ">=2.1.6,<3.0"}
unipath = "*"
django-dotenv = "*"
django-getenv = "*"
dj-database-url = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-rest-knox = "*"
"boto3" = "*"
requests = {version = ">=2.20.0,<3.0"}
django-storages = "*"
pillow = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
easy-thumbnails = "*"
psycopg2-binary = "*"
